@import "tailwindcss";



@theme {
   --color-primary:#4F46E5;
   --color-secondary:#10B981;
   --color-tertiary:#F59E0B;
   --color-neutral:#777681
}

@theme {
  --tracking-1: 0em;
  --tracking-2: 0.025em;
  --tracking-3: 0.05em;
  --tracking-4: 0.1em;
}